* {
    box-sizing: border-box;


}
:root{
    --main-white:white;
    --main-blue: blue;
    --main-red:red;
    --main-gold:gold;
    --main-brown:brown;
    --main-silver: rgb(184, 175, 175);
    --main-cadetblue: cadetblue;
}
body{
    background:var(--main-silver)
}
.page-wrapper{
    position: relative;
}
.container{
    width:100%;
    margin: 0 auto;
    max-width: 1000px;
}

.logo > img {
    width:100%;
    height: 100%;
    max-width: 300px;
    left: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

ul {
    list-style-type: none;


}
header {
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    left: 0;
    background: var(--main-brown);
    box-shadow:0 3px rgba(0,0,0,0.4);
    font-weight: 700;
}
.nav-link{
    margin-right: 20px;
}
ul{
    display: flex;
    flex-direction: row;
}
.nav-link a{
    padding: 1rem;
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}
.nav-link a:hover{
    background-color: goldenrod;
}

form {
    padding-top:6rem;
    text-align: center;
    display: block;
    font-family: sans-serif;
    width: auto;
}
#email {
    display: inline-flex;
    padding: 15px;
    width:100%;
    max-width: 275px;
    border: 0;
}

.btn{
  
    margin: 0.5rem;
    width: 100%;
    max-width: 150px;
    font-size: 1.5rem;
    margin: 12px;
    background: var(--main-gold);
    border: 0;
    font-weight: 600;


}
.grid{
    display: flex;
}
.product-section{
    padding-top: 3rem;
}
.desc{
    
    flex-direction: column;
    justify-content: center;
    display: flex;
   padding-left:3rem;
}
.desc > h1{
    font-size: 2rem;
    top: 0;
    padding-bottom: 0;
}
.desc > p{
    top:0;
    display: inline-flex;
    padding-top: 0;
}
.icon{
    display: inline-flex;
    color: var(--main-gold);
    font-size: 2rem;
}
.how-it-works{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.how-it-works > iframe {
    max-width: 560px;
    width: 100%;
    border: 0;

}
.pricing{
    margin-top: 60px;
    flex-direction: row;
    display: flex;
    justify-content: center;
}
#pricing-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% /3);
    margin: 10px;
    border: 1px solid black;
    border-radius: 3px;
}
.level{
    background: var(--main-cadetblue);
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    font-weight: 600;
}
ol{
    list-style-type: none;
    justify-content: center;
}
.footer{
    display: flex;
    left: 2rem;
    justify-content: flex-end;
    margin-bottom: 0;
    margin-top: 20px;
    background: var(--main-gold);
    width: 100%;
    max-width: 80vw;
    height: 12vh;
    margin-left: 70px;
}
.footer > li{
    list-style: none;
    display: inline-flex;
    padding-top: 2rem;
    font-size: 1.3rem;
    padding-right: 1rem;
    font-weight: 500;
}
